extends  Layout/layout
block script
    script(src='/javascripts/modifyPassword.js')
block content
    h2= title
    +flash()
    +form("post","/modifyPassword/"+password.passwordid)
        .form-group
            label
                p.label-txt Mots de passe
                h1=password.text
            div.row
                div.col-9
                    input#password.input.form-control(type='text' name="password" value=password.passwordtext)
                    .line-box
                        .line
                div.col-3
                    input.generate.btn.btn-info.ml-4(type='button' value='Générer un mots de passes')
        .form-group
            label
                p.label-txt Lien
            input.input.form-control(type='text' name="link" value=password.url)
            .line-box
                .line
        .form-group
            div.row
                div.col-10
                div.col-2
                    button.btn.btn-lg.btn-info.ml-45(type='submit') Confirmer
        br
        br
        br

    if password.Links
            h2 Vous avez partagé ce mots de passes à :
        for user in password.Links
            br
            div.row
                div.col-4
                    h3=user.username
                div.col-8
                    a.btn.btn-danger(href='/modifyPassword/'+password.passwordid+'/deleteUser/'+user.user_id)='revoquer son accès'