extends  Layout/layout
block script
    script(src='/javascripts/password.js')
block content
    h2= title
    br
    h3= "Vos mots de passes"
    div.row
        div.col-6


        div.col-6
            div.float-right
                button.add.btn.btn-info.m-2(type='button' name='favorite')
                    i.fa.fa-plus
                button.favorite.btn.btn-info.m-2(type='button' name='favorite')
                    i.fa.fa-star
                button.share.btn.btn-info.m-2(type='button' name='remove' )
                    i.fa.fa-share
                button.detail.btn.btn-info.m-2(type='button' name='remove' )
                    i.fa.fa-info
                button.remove.btn.btn-danger.m-2(type='button' name='remove' )
                    i.fa.fa-trash
    br
    table.table.table-striped.table-light.table-hover
        thead.thead-light
            tr
                td(hidden="") Id
                th(scope='col') Mots de passes
                th(scope='col') Lien
                th(scope='col') status
        tbody#user
            each password in passwords
                tr
                    td(hidden="")
                        input(value = password.passwordtext).password
                    td(hidden="")= password.passwordid
                    td=password.passwordtext
                    td= password.url
                    if (password.isFavorite == 1)
                        td
                            i.fa.fa-star(aria-hidden='true')
                    else
                        td
                            i.fa.fa-star-o(aria-hidden='true')
    br
    br
    h3= "mots de passes partagé avec vous"
    div.row
        div.col-6
        div.col-6
            div.float-right
                button.removesh.btn.btn-danger.m-2(type='button' name='remove' )
                    i.fa.fa-trash
    br
    table.table.table-striped.table-light.table-hover
        thead.thead-light
            tr
                th(hidden="") Id
                th(scope='col') Mots de passes
                th(scope='col') Lien
        tbody#share
            each password in shared
                tr
                    td(hidden="")
                        input(value = password.passwordtext).password
                    td(hidden="")= password.passwordid
                    td.password= password.passwordtext
                    td= password.url